<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keine Vokabeln</title>
</head>

<body>
    <!-- "Es sind keine Vokabeln vorhanden." -->
    <h1>Keine Vokabeln vorhanden</h1>
    <a href="/edit">Vokabeln hinzufügen</a>
</body>
<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        padding: 20px;
        text-align: center;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

</html>